/* Custom CSS overrides */
body {
  /* font-family: 'Inter', sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.font-Quicksand {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
}